@charset "UTF-8";

body {
	display: flex;
	flex-direction: column;
}

p {
	margin-bottom: 0px;
}

#header {
	display: flex;
	justify-content: center;
}

#header img {
	display: flex;
	width: 600px;
	margin-top: 50px;
}

#btn--row {
	display: flex;
	justify-content: space-between;
}

#btn--add {
	width: 130px;
	height: 30px;
	border-color: white;
	border-style: none;
	border-radius: 15px;
	border: solid 1px;
	font-weight: bold;
	margin-bottom: 10px;
	background-color: rgb(0, 0, 0, 0.1);
}

#input--search {
	border: none;
	padding: 5px;
	background-color: transparent;
	border-bottom: 2px solid rgb(0, 0, 0, 0.5);
}

#btn--search {
	background-color: rgb(0, 0, 0, 0.1);
	color: black;
}

#modal--add--employees {
	background-color: rgba(0, 0, 0, 0.1);
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
}

#modal--add--employees--body {
	background-color: rgb(255, 255, 255);
	width: 30%;
	height: 65%;
	position: absolute;
	top: 10%;
	left: 32.7%;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
}

#modal--add--employees--body h2 {
	font-weight: bold;
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 20px;
}

#modal--add--employees--body input {
	margin: 3%;
	margin-top: 2%;
	margin-left: 4%;
	width: 82%;
}

#modal--add--employees--body div {
	display: flex;
}

#add-o {
	width: auto;
	font-size: 30px;
	padding-bottom: 2%; 
	color: green;
}

#add-x {
	width: auto;
	font-size: 30px;
	padding-bottom: 2%; 
	color: red;
}

#btn--modal {
	display: flex;
	justify-content: center;
	height: auto;
}

#btn--modal button {
	width: 110px;
	height: 40px;
	border-color: black;
	border-radius: 10px;
	background-color: white;
	margin-top: 5%;
	font-weight: bold;
}

#btn--modal--cancel {
	color: red;
	margin-right: 10px;
}

#btn--modal--add {
	color: green;
}

tbody tr {
	text-align: center;
	margin-top: 100px;
}

select {
	margin-bottom: 10px;
	margin-top: 10px;
}

#UD {
	display: flex;
	width: auto;
	justify-content: space-between;
}

#UD div {
	display: flex;
	justify-content: space-between;
	width: auto;
}

#UD button {
	display: flex;
	border: none;
	width: 100%;
	height: 25px;
	font-size: 14px;
	background-color: white;
	align-items: center;
}

#btn--update {
	color: orange;
	padding: 0px;
	width: 100%;
}

#btn--delete {
	color: red;
	padding: 0px;
	width: 100%;
}

#td-btn {
	padding-left: 0px;
	padding-right: 0px;
	width: auto;
}

#U--id {
	width: 35px;
}

#U--name {
	width: 58px;
}

#U--position {
	width: 40px;
}

#U--phoneNumber {
	width: 120px;
}

#U--email {
	width: 160px;
}

#btn--xlsx {
	display: flex;
	justify-content: flex-end;
	text-decoration: none;
	color: black;
	font-size: small;
	font-weight: bold;
	margin: 5px;
}

td a {
	color: black;
}